<div class="heroBanner">
  <div class="hero__background">
    <div class="hero__text">
      <p>Geen tijd, geen zorgen, <br> Mister Pasta kookt voor u!</p>
    </div>
  </div>

  <div class="review__banner">
    <div class="review__items">
      <div class="review__item">
        <p><strong>Lokaal</strong><br>Lokaal bereid, lokaal bezorgd</p>
      </div>
      <div class="review__item">
        <p><strong>Vers</strong><br>Vers bereid op de dag van uitgifte</p>
      </div>
      <div class="review__item">
        <p><strong>Natuurlijk</strong><br>Geen onnodige additieven of overige toevoegingen</p>
      </div>
    </div>
    <!-- Verplaats de sterren onder de drie review teksten -->
    <div class="review__stars">
      <a href="https://www.google.com" target="_blank" class="review__stars">
        <img src="../../../assets/stars-image.png" alt="5 sterren" class="stars-image">
        <span>409 reviews</span>
      </a>
    </div>
  </div>
</div>
