<div class="teaser">
  <div class="teaser__introduction">
    <p>Ons Concept</p>
  </div>
  <div class="teaser__options">
    <div class="teaser__option">
      <app-teasers-item [image]="'assets/lokaal-image.jpg'" [product]="'Lokaal: De Kracht van de Buurt op je Bord'" [information]="'Bij Mister Pasta geloven we in de kracht van de gemeenschap. Onze ingrediënten komen rechtstreeks van lokale boeren en leveranciers die net zo gepassioneerd zijn over kwaliteit als wij. Door lokaal in te kopen, ondersteunen we niet alleen de economie van onze buurt, maar garanderen we ook dat jouw maaltijd met zorg en liefde wordt bereid.'"></app-teasers-item>
    </div>
    <div class="teaser__option">
      <app-teasers-item [image]="'assets/vers-image.jpg'" [product]="'Vers: Elke Hap Barstensvol Smaak'" [information]="'Versheid staat centraal in alles wat we doen. Bij Mister Pasta worden alle maaltijden dagelijks bereid, zodat jij alleen het allerbeste proeft. Onze pasta’s worden gemaakt van verse eieren en hoogwaardig meel, en de sauzen worden rijkelijk gevuld met seizoensgebonden groenten en kruiden. Alleen pure, eerlijke smaken die het verschil maken.'"></app-teasers-item>
    </div>
    <div class="teaser__option">
      <app-teasers-item [image]="'assets/natuurlijk-image.jpg'" [product]="'Natuurlijk: Puur, Gezond en Eerlijk'" [information]="'Wij geloven dat écht eten simpel en natuurlijk hoort te zijn. Daarom maken we bij Mister Pasta gebruik van ingrediënten die rechtstreeks uit de natuur komen. Onze recepten zijn vrij van kunstmatige kleurstoffen, smaakstoffen en conserveringsmiddelen. Wat je eet, is wat je lichaam nodig heeft: gezond, voedzaam en onweerstaanbaar lekker eten. '"></app-teasers-item>
    </div>
  </div>
</div>
