<app-header></app-header>
<div class="menu">
  <div class="menu__interactive">
    <div class="menu__counter">
      <app-counter></app-counter>
    </div>
    <div class="menu__filter">
      <app-filter></app-filter>
    </div>
  </div>
  <div class="menu__products">
    <!--Hier de maaltijden ophalen uit de database
    per component 1 maaltijd door geven via input decorator-->
    <app-meal></app-meal>
    <app-meal></app-meal>
    <app-meal></app-meal>
    <app-meal></app-meal>
    <app-meal></app-meal>
    <app-meal></app-meal>
    <app-meal></app-meal>
    <app-meal></app-meal>
    <app-meal></app-meal>
  </div>
</div>
<app-footer></app-footer>
