<app-header></app-header>
<div class="menu">
  <div class="menu__interactive">
    <div class="menu__counter">
      <app-counter></app-counter>
    </div>
    <div class="menu__filter">
      <app-filter (filteredMeals)="onMealsFiltered($event)" ></app-filter>
    </div>
  </div>
  <div class="menu__products">
    @if(meals.length != 0) {
      @for (meal of meals; track meal) {
        <app-meal-preview [meal]="meal"></app-meal-preview>
      }
    }
    @else {
      <h2>Geen producten beschikbaar</h2>
    }
  </div>
</div>
<app-footer></app-footer>
