<app-header></app-header>
<div class="product">
  <div class="product__container">
    <div class="product__title">
      <h1><b>{{meal.name}}</b></h1>
      <h2>{{meal.name}}</h2>
    </div>
    <div class="product__images">

    </div>
    <div class="product__cta-container">
      <h2>€{{meal.price}} p/s</h2>
    </div>
  </div>
  <div class="product__other-info">
    <div class="product__description">

    </div>
    <div class="product__recommendations">

    </div>
  </div>
</div>
<app-footer></app-footer>
