<div class="WebsiteInfoBoxTwo">
  <div class="WebsiteInfoBoxTwo__background">
    <div class="WebsiteInfoBoxTwo__content">
      <div class="WebsiteInfoBoxTwo__content__textbox">
        <div class="InfoTitel">
          <h2>
            Geen tijd, geen zorgen,
            Mister Pasta  kookt voor u!
          </h2>
        </div>
        <div class="InfoText">
          <p>
            Wij begrijpen dat u in uw drukke schema
            met werk en andere verplichtingen niet altijd
            toekomt aan het bereiden van maaltijden.
          </p>
        </div>
          <div class="InfoTextSubTittle">
            <h2>
              Laat ons dat voor u doen!
            </h2>
          </div>
        <div href="/home" class="WebsiteInfoBoxTwo__button">
          <a class="WebsiteInfoBoxTwo__button__text">Naar pakket keuze  </a>
          <img src="/assets/icons/chevron-right.svg" alt="arrow" class="chevron-right">
        </div>
      </div>
      <img src="/assets/Premium-pasta-carbonara.jpg" alt="Premium Pasta carbonara" class="premium-pasta-image">
    </div>
  </div>
</div>
