
<div class="best-sellers">
  <div class="best-sellers__introduction">
    <p>Onze bestsellers</p>
  </div>
  <div class="best-sellers__options">
    <div class="best-sellers__option">
      <app-best-seller-item [product]="'pasta 1'"  [information]="'beste pasta van je leven'"></app-best-seller-item>
    </div>
    <div class="best-sellers__option">
      <app-best-seller-item [product]="'pasta 2'" [information]="'beste pasta van je leven.'"></app-best-seller-item>
    </div>
    <div class="best-sellers__option">
      <app-best-seller-item [product]="'pasta 3'" [information]="'beste pasta van je leven.'"></app-best-seller-item>
    </div>
  </div>
</div>
