
<div class="best-sellers">
  <div class="best-sellers__introduction">
    <p>Onze bestsellers</p>
  </div>
  <div class="best-sellers__options">
    <div class="best-sellers__option">
      <app-best-seller-item [image]="'assets/bolognese-bestseller.jpg'" [product]="'Spaghetti Bolognese'"  [information]="'Lange slierten spaghetti in een rijke saus van gehakt, tomaten, en kruiden. Een hartverwarmende klassieker die perfect is voor elke pasta-liefhebber.'"></app-best-seller-item>
    </div>
    <div class="best-sellers__option">
      <app-best-seller-item [image]="'assets/Lasagna-bestseller.jpg'" [product]="'Huisgemaakte Lasagne'" [information]="'Een onweerstaanbare lasagne, laag na laag gevuld met fluweelzachte bechamelsaus, rijk gekruide tomatenragù, verse pasta en smeltende kaas, die samen een perfecte balans van comfort en smaak creëren.'"></app-best-seller-item>
    </div>
    <div class="best-sellers__option">
      <app-best-seller-item [image]="'assets/carbonara-bestseller.jpg'" [product]="'Spaghetti Carbonara'" [information]="'Romige spaghetti zonder room, maar met een saus van eieren, Parmezaanse kaas en knapperige guanciale. De volle, romige smaak smelt op de tong.'"></app-best-seller-item>
    </div>
  </div>
</div>
