.teaser-item {
  width: 19rem;
  border-radius: 10px;
  background-color: rgba(255,255,255,.8);
  display: grid;
  place-items: center;
  padding: 1rem;
  margin-bottom: 5rem;
  height: 35rem;
}

.teaser__information {
  margin: 0.5rem;
  height: 5rem;
  text-align: center;
  font-family: "Playwrite IS", cursive;
}

.teaser__info {
  height: 16rem;
  font-family: "M PLUS Rounded 1c", sans-serif;
}

.teaser__image {
  max-width:18rem;
  border-radius: 5px;
}

.teaser__image img {
    max-width:inherit;
    height:12rem;
}
