* {
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-weight: 400;
  font-style: normal; 
}

html, body {
  max-width: 100%;
  overflow-x: hidden;
}

.order {
  margin-top: 3.5rem;
  display: grid;
}

.order__introduction {
  background-image: url(../../assets/background.png);
  color: white;
  padding: 2rem 3rem;
  height: 10vh;
  display: grid;
}

.order__options {
  background-image: url(../../assets/tomato-background.png);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-content: center;
  height: 85vh;
  flex-wrap: wrap;
  gap: 1rem;
}
