<div class="WebsiteInfoBoxOne">
  <div class="WebsiteInfoBoxOne__background">
    <img src="/assets/Infobox-One-Picture.jpg" alt="Premium Pasta" class="premium-pasta-image">
    <div class="WebsiteInfoBoxOne__content">
      <div class="WebsiteInfoBoxOne__content__textbox">
        <div class="InfoTitel">
          <h2>Ons Menu</h2>
        </div>
        <div class="InfoText">
          <p>
            Laat je meenemen naar de keuken
            van Mister Pasta! Verse natuurlijke ingrediënten vormen de basis van
            onze huisgemaakte sauzen.
            U vindt bij ons oma's authentieke recepten in een modern jasje.
            Naast individuele maaltijden bieden wij ook voorgeselecteerde pakketten voor het meeste gemak.
          </p>
        </div>
        <div href="/home" class="WebsiteInfoBoxOne__button">
          <a  class="WebsiteInfoBoxOne__button__text">Ons complete aanbod <img src="/assets/icons/chevron-right.svg" alt="arrow" class="chevron-right"> </a>
        </div>
      </div>
    </div>
  </div>
</div>
