* {
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.meal {
  display: grid;
  grid-template-rows: 3fr 1fr 1fr;
  border: 1px solid gray;
  border-radius: 5px;
  height: 250px;
  max-width: 300px;
  padding: 0.5rem;
}

.meal__image {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

  .meal__image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
  }

.meal__information {
  display: flex;
  padding: 0.25rem 1rem;
  justify-content: space-between;
  align-items: center;
}

.meal__cta {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.meal__counter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 30%;
}

.meal__counter button {
  height: 30px;
  width: 30px;
}

.counter__cta {
  all: unset;
  color: white;
  border-radius: 2px;
  cursor: pointer;
}

.red {
  background-color: var(--red);
}

.green {
  background-color: var(--green--interactive);
}

.meal__add-to-cart button {
  all: unset;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  background-color: var(--green--interactive);
  color: white;
}

.meal__add-to-cart button:hover {
  cursor: pointer;
}
